.delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.delete-button .logo {
  fill: red;
}

.delete-button:hover {
  background-color: rgba(255, 0, 0, 0.23);
}
